<article id="spot_form">
	<h2 class="spot_title">{{properties.title}}</h2>

	<form action="{{url}}" class="form-horizontal" method="post"
		  enctype="multipart/form-data">
		{{#if isNew}}
		<input type="hidden" name="geometry[coordinates]" value="{{geometry.coordinates}}">
		{{/if}}
		<div class="control-group">
			<label for="location_query" class="control-label">Ort</label>
			<div class="controls">
				<span class="help-block">Falls der gefundene Punkt nicht so ganz am Ort des Geschehens ist.</span>
				<input id="location_query" type="text" placeholder="Bspw. Frankfurt Hauptbahnhof" name="properties[location_query]" class="form-control">
			</div>
		</div>
		<div class="control-group">
			<label for="title" class="control-label">Titel <abbr role="presentation" title="erforderlich">*</abbr></label>
			<div class="controls">
				<input id="title" type="text" value="{{properties.title}}" required aria-required="true" placeholder="Geb dem Guten einen Namen" name="properties[title]" class="form-control">
			</div>
		</div>
		{{#if hasPhotos}}
		<div class="control-group">
			<label for="attachments" class="control-label">Derzeitige Fotos</label>
			<div class="controls">
				<ul class="inline">
				{{#each thumbs}}
					<li><img src="{{this}}" height="76"></li>
				{{/each}}
				</ul>
			</div>
		</div>
		{{/if}}
		<div class="control-group">
			<label for="fileupload" class="control-label">Lade Fotos hoch{{#unless hasPhotos}} <abbr role="presentation" title="erforderlich">*</abbr>{{/unless}}</label>
			<div class="controls">
				<div id="upload-manager"></div>
				<span class="help-block">Dieses Foto wird direkt auf der Karte zu sehen sein.</span>
			</div>
		</div>
		<div class="control-group">
			<label for="description" class="control-label">Text</label>
			<div class="controls">
				<textarea id="description" placeholder="Beschreibung" rows="3" name="properties[description]" class="form-control">{{properties.description}}</textarea>
			</div>
		</div>
		<div class="control-group">
			<label for="username" class="control-label">Name <abbr role="presentation" title="erforderlich">*</abbr></label>
			<div class="controls">
				<input id="username" type="text" value="{{properties.username}}}" required aria-required="true" placeholder="Ihr/Dein Name" name="properties[username]" class="form-control">
				<span class="help-block">Wird beim Spot gezeigt werden.</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Spot anlegen</button>
			</div>
		</div>
	</form>
</article>
